html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} /* Start styling */

:root {
  /* color */
  --color-primary: #e61910;
  --color-second: #2d4059;
  --color-third: #ea5455;
  --color-fourth: #ffd460;
  --color-default: #000000;
  --color-default-white: #ffffff;

  /* font size */
  --font-size-1: 3.833rem;
  --font-size-2: 3.056rem;
  --font-size-3: 2.444rem;
  --font-size-4: 1.944rem;
  --font-size-5: 1.556rem;
  --font-size-6: 1.278rem;

  /* font family */
  --font-roboto: "Roboto", sans-serif;
  --font-red-hat-mono: "Red Hat Mono", monospace;
  --font-roboto-slab: "Roboto Slab", serif;
}

h1,
h3,
h4,
h5,
h6,
p,
a,
button,
input {
  font-weight: 400;
  color: var(--color-default);
  font-family: var(--font-red-hat-mono);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.833rem;
}

h2 {
  font-size: 3.056rem;
  font-weight: 700;
  color: var(--color-default);
  font-family: var(--font-roboto-slab);
}

h3 {
  font-size: 2.444rem;
}

h4 {
  font-size: 1.944rem;
}

h5 {
  font-size: 1.556rem;
}

h6 {
  font-size: 1.278rem;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

header {
  height: 100vh;
  background: url(/assets/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* NAVBAR */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  padding: 0 62px 0 115px;
  z-index: 10;
}

nav.bg-black {
  background-color: var(--color-default);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1343px;
  margin: 0 auto;
}

.nav-list-container {
  padding: 16px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

a.nav-title {
  font-size: var(--font-size-5);
  margin: 0;
  padding: 34px 7px 7px 0;
  position: absolute;
  top: 0;
  /* left: 0; */
  background-color: var(--color-primary);
  color: var(--color-default-white);
  text-transform: uppercase;
}

a.nav-title span {
  font-size: 2.5rem;
}

ul.nav-list {
  display: flex;
  list-style: none;
  gap: 2.75rem;
}

ul.nav-list li a {
  font-size: var(--font-size-6);
  color: var(--color-default-white);
}

ul.nav-list li a:hover {
  font-size: var(--font-size-6);
  color: var(--color-primary);
  font-weight: bold;
  cursor: pointer;
}

ul.nav-list li a.active {
  color: var(--color-primary);
  font-weight: bold;
}

div.line {
  height: 2.938rem;
  width: 2px;
  margin-left: 1rem;
  background-color: var(--color-primary);
}

img.search {
  cursor: pointer;
  width: 1.829rem;
}

.menu {
  display: none;
  background-color: var(--color-primary);
  padding: 7px;
  cursor: pointer;
  border-radius: 50%;
}

.menu img {
  width: 1.1rem;
  margin-top: 0.1rem;
}

/* HERO */

section.hero {
  width: 100%;
  padding: 0 115px;
  height: 100%;
}

.hero-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1263px;
  margin: auto;
}

section.hero h1 {
  margin-top: 5rem;
  font-size: 3rem;
  color: var(--color-primary);
}

section.hero h4 {
  color: var(--color-primary);
}

.line-hero {
  width: 15.5rem;
  height: 2px;
  background-color: var(--color-primary);
  margin: 13px 0 7px 0;
}

section.hero p {
  margin: 16px 0 57px 0;
  max-width: 19rem;
  color: var(--color-default-white);
  font-size: 0.875rem;
  line-height: 1.05rem;
}

section.hero a {
  color: var(--color-default-white);
  background-color: var(--color-primary);
  padding: 15px 20px;
  border-radius: 15px;
}

/* Arrival */

section.arrival {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 748px;
  background-color: fff;
  padding-top: 50px;
}

section.arrival h1 {
  font-family: var(--font-red-hat-mono);
  font-weight: bold;
  text-align: center;
}

.alert-line {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
.line-arrival {
  width: 100%;
  max-width: 13.5rem;
  height: 2px;
  background-color: var(--color-primary);
  margin: 13px 0 7px 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1100px;
  margin-top: 40px;
  position: relative;
}

.card-container .icon-arrow-circle:nth-of-type(1) {
  position: absolute;
  left: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.card-container .icon-arrow-circle:nth-of-type(2) {
  position: absolute;
  right: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.card-container .icon-arrow-circle img {
  cursor: pointer;
  width: 60px;
}

.card-arrival {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.card-arrival p:nth-child(2) {
  color: var(--color-default);
  font-weight: bold;
}

.card-arrival p:nth-child(3) {
  color: var(--color-primary);
  font-weight: bold;
}

/** 
Artis section 
*/

.artist {
  background-color: #450209;
  margin: 20px 0;
}

.artist-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  display: flex;
  flex-direction: row;
}

.artist-comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.artist-comment h1 {
  color: var(--color-default-white);
}

.artist-comment p {
  color: var(--color-default-white);
}

.artist-comment h1:nth-child(2) {
  display: flex;
  /* left: 0; */
  background-color: var(--color-primary);
  color: var(--color-default-white);
  justify-content: start;
  align-items: center;
  width: 250px;
  height: 65px;
  border-radius: 5px;
  text-transform: uppercase;
}

/* Service */

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px auto;
  padding: 0 10px;
}

.service h3 {
  font-family: var(--font-roboto);
  font-weight: 400;
  color: var(--color-third);
  font-size: 1.438rem;
  text-transform: uppercase;
  text-align: center;
}

.service h1 {
  font-family: var(--font-roboto-slab);
  font-weight: 700;
  font-size: 3.438rem;
  text-transform: capitalize;
  text-align: center;
}

.card-service-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 50px auto;
  padding: 0 42px;
}

.card-service {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* Testimoni */

.testimoni {
  background-color: #e8e6e6;
  width: 100%;
}

.testimoni-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.testimoni-container iframe {
  flex: 1;
  aspect-ratio: 1/1;
}

.commentar-client {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 30px;
  padding: 50px;
  width: 100%;
}

.commentar-client img {
  width: 100%;
}

/* Blog */

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 30px auto;
  padding: 0 10px;
}

.blog h3 {
  font-family: var(--font-roboto);
  font-weight: 400;
  color: var(--color-third);
  font-size: 1.438rem;
  text-transform: uppercase;
  text-align: center;
}

.blog h1 {
  font-family: var(--font-roboto-slab);
  font-weight: 700;
  font-size: 3.438rem;
  text-transform: capitalize;
  text-align: center;
}

.blog-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 50px auto;
  padding: 0 10px;
}

.blog-container .icon-arrow-circle:nth-of-type(1) {
  position: absolute;
  left: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.blog-container .icon-arrow-circle:nth-of-type(2) {
  position: absolute;
  right: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.blog-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  height: 670px;
  gap: 15px;
  background-color: #e8e6e6;
  cursor: pointer;
}

.blog-card:hover {
  background-color: var(--color-third);
}

.blog-card p {
  padding-left: 10px;
}

.blog-card h5 {
  font-weight: 600;
  padding-left: 10px;
}
/**
Catalog Page
*/

main.catalog {
  padding: 0 120px;
}

main.catalog section,
.desc-catalog-show {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1263px;
}

/* filter section */
section.filter {
  margin-top: 208px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--color-second);
  padding: 19px 24px;
}

ul.filter-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

ul.filter-list li {
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  gap: 2px;
  text-transform: uppercase;
  font-size: 0.92rem;
  font-weight: 400;
  cursor: pointer;
}

section.filter p {
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  gap: 2px;
  text-transform: uppercase;
  font-size: 0.92rem;
  font-weight: 400;
  cursor: pointer;
}

section.filter p.filter-mobile {
  display: none;
}

.desc-catalog-show {
  font-family: "Roboto", sans-serif;
  font-size: 0.92rem;
  font-weight: 400;
  padding: 24px 0 35px 0;
}

/* product section */
section.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 33px;
}

.product-list article {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  position: relative;
}

article img {
  width: 100%;
  aspect-ratio: 1.4/1;
  object-fit: cover;
  object-position: center;
  margin-bottom: 11px;
}

.product-list .label {
  position: absolute;
  top: 16px;
  right: 0;
  padding: 5px 14px;
  color: var(--color-default-white);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 0.938rem;
}

.product-list .label.sold-out {
  background-color: var(--color-third);
}

.product-list .label.best-seller {
  background-color: var(--color-fourth);
}

.product-title {
  font-size: 0.75rem;
}

.product-price {
  font-family: var(--font-roboto);
  color: var(--color-primary);
  font-size: 00.875rem;
}

.product-view-button {
  font-family: var(--font-roboto);
  color: var(--color-default-white);
  font-size: 00.875rem;
  background-color: var(--color-default);
  padding: 11.5px 33px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* pagination section */
section.pagination {
  display: flex;
  justify-content: center;
  padding: 100px 0 75px 0;
}

.pagination-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination-list img {
  margin: 2.5px 10px 0 10px;
  height: 1.438rem;
}

.pagination-list .number {
  height: 2.125rem;
  width: 2.125rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
  background-color: var(--color-primary);
  color: var(--color-default-white);
}

.pagination-list .triple-dot {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5px;
}

/* footer */

footer {
  background-color: var(--color-default);
  padding: 78px 115px;
  width: 100%;
}

footer h3,
footer p,
footer a {
  color: var(--color-default-white);
}

.footer-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr 2fr;
  gap: 42px;
  max-width: 1263px;
  width: 100%;
  margin: 0 auto;
}

footer section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

footer h3 {
  font-weight: 700;
  text-transform: uppercase;
}

footer h3.footer-calci {
  font-weight: 400;
  color: var(--color-third);
}

ul.social-media {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

ul.social-media img {
  width: 1.5rem;
}

ul.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

ul.footer-menu li {
  display: flex;
  align-items: center;
}

ul.footer-menu li.active::before {
  content: "•";
  color: var(--color-third);
  display: inline-block;
  width: 20px;
  font-size: 2rem;
  line-height: 0;
}

footer form {
  display: flex;
  gap: 0;
}

footer form input {
  border: none;
  padding: 13px;
  outline: none;
  width: 100%;
}

footer form button {
  border: none;
  padding: 13px;
  background-color: var(--color-third);
  color: var(--color-default-white);
}

@media (max-width: 1200px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  .card-container .card-arrival:nth-last-of-type(1) {
    display: none;
  }

  .blog-container .blog-card:nth-last-child(1) {
    display: none;
  }
}

@media (max-width: 960px) {
  ul.nav-list {
    display: none;
  }

  .line {
    display: none;
  }

  .menu {
    display: block;
  }

  ul.filter-list {
    display: none;
  }

  section.filter p.filter-mobile {
    display: flex;
  }

  .artist-container {
    flex-direction: column;
  }

  .testimoni-container {
    flex-direction: column;
  }

  .artist-comment {
    padding: 0 42px 42px 42px;
  }
}

@media (max-width: 820px) {
  .card-container .card-arrival:nth-last-of-type(2) {
    display: none;
  }

  .blog-container .blog-card:nth-last-of-type(2) {
    display: none;
  }
}

@media (max-width: 640px) {
  section.hero h1 {
    display: none;
  }

  .line-hero {
    display: none;
  }

  section.hero a {
    align-self: center;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }

  .card-service-container {
    flex-direction: column;
    gap: 50px;
  }

  .card-container .card-arrival:nth-last-of-type(3) {
    display: none;
  }
}

@media (max-width: 500px) {
  nav {
    padding: 16px 30px 16px 0;
  }

  a.nav-title {
    left: 30px;
  }

  .nav-list-container {
    gap: 1rem;
  }

  section.hero {
    padding: 0 30px;
  }

  main.catalog {
    padding: 0 30px;
  }

  .pagination-list {
    gap: 4px;
  }

  .pagination-list img {
    margin: 2.5px 5px 0 5px;
  }

  footer {
    padding: 78px 30px;
  }
}
